<section class="instagram-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5"></div>
      <div
        class="col-md-2 col-sm-12"
        style="border-bottom: 1px solid black; padding: 10px"
      >
        <h2 class="header-specials">Instagram</h2>
      </div>
      <div class="col-md-5"></div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row email">
      <div class="col-md-12">
        <div class="mailing-list">
          <form>
            <div class="row name">
              <h3>Mailing List</h3>
            </div>

            <div class="row">
              <div class="col-md-4 col-xs-3"></div>
              <div class="col-md-4 col-xs-5 email">
                <input
                  class="mailinglist-input form-control"
                  type="text"
                  name="email"
                  placeholder=" Email Address"
                  autocomplete="off"
                />
              </div>
              <div class="col-md-1 col-xs-3 Go">
                <button
                  class="mailinglist-submit btn btn-default"
                  type="submit"
                  name="www"
                >
                  <span id="mailing-btn-txt">GO</span>
                  <span
                    id="mailing-btn-load"
                    class="mailing-btn-load icon-spin2 animate-spin hidden"
                  ></span>
                </button>
              </div>
              <div class="col-md-3 col-xs-1"></div>
            </div>
            <div class="subscription">
              <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-3 col-xs-2"></div>

                <div class="col-md-2 col-lg-2 col-sm-3 col-xs-4">
                  <div class="subscribe">
                    <input
                      id="list_subscribe"
                      type="radio"
                      name="subscribe"
                      value="1"
                      checked="checked"
                    />
                    <label for="list_subscribe">Subscribe</label>
                  </div>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-3">
                  <div class="subscribe">
                    <input
                      id="list_unsubscribe"
                      type="radio"
                      name="subscribe"
                      value="0"
                    />
                    <label for="list_unsubscribe">Unsubscribe</label>
                  </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-3"></div>
              </div>
            </div>
          </form>
          <div id="mailinglist-response" class="mailinglist-response">
            <div class="mailinglist-error hidden">
              <span class="icon-attention"></span> <strong>Oops!</strong> The
              email you entered isn't valid.
            </div>
            <div class="mailinglist-subscribed hidden">
              <span class="icon-ok"></span> <strong>WooHoo!</strong> You
              subscribed successfully.
            </div>
            <div class="mailinglist-unsubscribed hidden">
              <span class="icon-ok"></span> <strong>Ok!</strong> You're
              unsubscribed.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="footer">
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3 col-sm-12 footer-menu-links">
          <h3>INFORMATION</h3>
          <ul id="extrapages" class="list-unstyled extrapages">
            <li>
              <a href="#" class="menu-bottom"><wbr /> Contact us </a>
            </li>
            <li>
              <a href="#" class="menu-bottom"> &shy;Discount </a>
            </li>
            <li>
              <a href="#" class="menu-bottom"> Site map </a>
            </li>
            <li>
              <a href="#" class="menu-bottom"> About us </a>
            </li>
            <li>
              <a href="#" class="menu-bottom"> Custom service </a>
            </li>
            <li>
              <a href="#" class="menu-bottom"> Personal information </a>
            </li>
          </ul>
        </div>
        <div class="col-md-6 col-lg-3 col-sm-12 footer-menu-links">
          <h3>MY ACCOUNT</h3>
          <ul class="list-unstyled extrapages">
            <li>
              <a href="#" class="menu-bottom"> My Account </a>
            </li>
            <li>
              <a href="#" class="menu-bottom"> Login </a>
            </li>
            <li>
              <a href="#" class="menu-bottom"> My Cart </a>
            </li>
            <li>
              <a href="#" class="menu-bottom"> Wishlist </a>
            </li>
            <li>
              <a href="#" class="menu-bottom"> Checkout </a>
            </li>
            <li>
              <a href="#" class="menu-bottom"> Address </a>
            </li>
          </ul>
        </div>
        <div class="col-md-6 col-lg-3 col-sm-12 footer-menu-links">
          <h3>SUPPORT</h3>
          <ul class="list-unstyled extrapages">
            <li>
              <a href="#" class="menu-bottom"> About Us </a>
            </li>
            <li>
              <a href="#" class="menu-bottom"> Delivery Information </a>
            </li>
            <li>
              <a href="#" class="menu-bottom"> Privacy Policy </a>
            </li>
            <li>
              <a href="#" class="menu-bottom"> Term & Conditions </a>
            </li>
            <li>
              <a href="#" class="menu-bottom"> Support 24/7 </a>
            </li>
            <li>
              <a href="#" class="menu-bottom"> About Our Shop </a>
            </li>
          </ul>
        </div>
        <div class="col-md-6 col-lg-3 col-sm-12 contact-info">
          <h3>CONTACT US</h3>
          <ul class="list-unstyled extrapages col-md-12 col-sm-6 col-xs-12">
            <li>
              <i class="fa fa-street-view"></i>&nbsp;
              <span>1201 Sunway, Megapolis</span><br />
              <span>Pune, Maharashtra</span>
            </li>

            <li>
              <i class="fa fa-mobile"></i>&nbsp;
              <a href="tel:1-800-555-5555">
                <span>(+91) 7017-562-308</span>
              </a>
            </li>
            <li>
              <i class="fa fa-envelope"></i>&nbsp;
              <a href="#"> <span>atulchhabra26@gmail.com</span><br /> </a>
            </li>
          </ul>

          <ul
            class="list-inline col-md-12 col-sm-6 col-xs-12"
          >
            <li class="social-icons-label hidden ">Stay Connected</li>

            <li class="list-inline-item">
              <a
                href="#"
                class="facebook"
                target="_blank"
                title="Like Us on Facebook"
                ><span class="fa fa-facebook"></span
              ></a>
            </li>

            <li class="list-inline-item">
              <a
                href="#"
                class="twitter"
                target="_blank"
                title="Follow Us on Twitter"
                ><span class="fa fa-twitter"></span
              ></a>
            </li>

            <li class="list-inline-item">
              <a
                href="#"
                class="youtube"
                target="_blank"
                title="Subscribe to our Channel"
                ><span class="fa fa-youtube"></span
              ></a>
            </li>

            <li class="list-inline-item">
              <a
                href="#"
                class="instagram"
                target="_blank"
                title="Follow Us on Instagram"
                ><span class="fa fa-instagram"></span
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>

